.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    /* MUY alto */
}

.cart {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: white;
    z-index: 99999;
    /* SIEMPRE encima de todo */
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

.cart.open {
    right: 0;
}

.header,
.footer {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.item img {
    width: 50px;
}

@media(max-width:768px) {
    .cart {
        width: 100%;
        bottom: 0;
        top: auto;
        height: 80%;
        border-radius: 20px 20px 0 0;
        transform: translateY(100%);
    }

    .cart.open {
        right: 0;
    }
}