<div class="admin-banner">
    <div class="banner-content">
        <div class="banner-text">
            <h1>Fruver Control Panel</h1>
            <p>Gestión de Inventario y Productos</p>
        </div>

        <div class="banner-actions">
            <button class="btn-primary" (click)="abrirFormularioCrear()">+ Nuevo Producto</button>
        </div>

        <div class="banner-badge-container">
            <div class="banner-badge">Administrador</div>
        </div>
    </div>
</div>
<div class="dashboard">
    <div class="filters">
        <button (click)="filtrarPor(0)">Todos</button>
        <button (click)="filtrarPor(1)">🍎 Frutas</button>
        <button (click)="filtrarPor(2)">🥦 Verduras</button>
        <button (click)="filtrarPor(4)">🥛 Lácteos</button>
        <button (click)="filtrarPor(5)">🧼 Aseo</button>
        <button (click)="filtrarPor(6)">🥫 Despensa</button>
        <button (click)="filtrarPor(3)">🛍️ Abarrotes</button>
        <button (click)="filtrarPor(7)">🥩 Carnes</button>
    </div>

    <div class="product-grid">
        @for (producto of productosFiltrados; track producto.id) {
        <div class="product-card" [ngClass]="{
        'border-fruta': producto.categoria?.id == 1,
        'border-verdura': producto.categoria?.id == 2,
        'border-lacteo': producto.categoria?.id == 4,
        'border-aseo': producto.categoria?.id == 5,
        'border-despensa': producto.categoria?.id == 6,
        'border-abarrotes': producto.categoria?.id == 3,
        'border-carnes': producto.categoria?.id == 7
    }">
            <div class="product-image">
                @if (producto.imagenUrl) {
                <img [src]="producto.imagenUrl" [alt]="producto.nombre"> } @else {
                <div class="no-image-placeholder">
                    <span style="font-size: 3rem;">📦</span>
                    <p>Sin imagen</p>
                </div>
                }
            </div>

            <div class="product-info">
                <h3>{{ producto.nombre }}</h3>
                <div class="stats">
                    <p class="stock-container">
                        <strong>Stock:</strong>
                        <span class="stock-value">{{ producto.stockActual | number:'1.0-0' }}</span>
                        <span class="unit">{{ producto.unidadMedida }}</span>
                    </p>
                    <p class="price">{{ producto.precioReferencia | currency:'USD':'symbol':'1.0-0' }}</p>
                </div>
                <button class="btn-edit" (click)="editarProducto(producto)">
                    Editar Stock
                </button>
            </div>
        </div>
        }
    </div>
</div>
@if (mostrarFormulario) {
<div class="modal-overlay">
    <app-producto-form [productoOriginal]="productoAEditar" (alTerminar)="procesarGuardado($event)"
        (alCancelar)="cerrarFormulario()">
    </app-producto-form>
</div>
}